html {
    background-color: #e6e6e6;
    font-family: "Inter Tight";
    margin: auto 2cm;
}

h1 { /*Style the main header*/
    font-size: 90px;
    text-align: center;
    font-family: "Koulen";
    margin: auto;
    color: black;
    position: sticky;
    background-color: #e6e6e6;
}

h2 {
    font-size: 40px;
    color: rgb(77, 77, 77);
}

hr {
    border-width: 2px;
    border-style: solid;
    border-color: hsl(0, 0%, 0%);
    border-radius: 0%;
    margin: 20px 30px;
}

strong {
    text-decoration: underline;
}

img {
    max-width: 60%;
    min-width: 10%;
    max-height: 60%;
    padding: 20px 20px;
    margin: 20px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: static;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60%;
}

a:visited {
    color: black;
}

nav ul {
    list-style-type: none;
    padding-top: 8mm;
    padding-bottom: 8mm;
}

ul {
    padding: 8mm auto;
}

ol {
    padding: 8mm auto;
}

details {
    padding-top: 10mm;
    padding-bottom: 10mm;
}